<p-table [value]="librarian">
  <ng-template pTemplate="header">
    <tr>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Adresa</th>
      <th>Telefon</th>
      <th>Adresa email</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr *ngIf="customer">
      <td>{{customer.lastname}}</td>
      <td>{{customer.displayName}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.email}}</td>
    </tr>
  </ng-template>
</p-table>
