<!--
<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-lg-6">
        <img src="https://www.ias.edu/sites/default/files/styles/hero_extra_small/public/library/Math-NS%20Library_1.jpg?h=c74750f6&itok=gPgH3YXJ">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 style="text-align: left"><i>Biblioteca noastra va pune la dispozitie un spatiu unde va puteti relaxa citind cartea preferata, sau unde va puteti pregatii pentru un examen</i></h3>
      </div>
    </div>
  </div>
</div>

-->
<!--<div class="row">-->
<!--  <div class="col-lg-12 clase">-->
<!--    <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <img src="https://www.ias.edu/sites/default/files/styles/hero_extra_small/public/library/Math-NS%20Library_1.jpg?h=c74750f6&itok=gPgH3YXJ">-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <h3 style="text-align: left"><i>Biblioteca noastra va pune la dispozitie un spatiu unde va puteti relaxa citind cartea preferata, sau unde va puteti pregati pentru un examen</i></h3>-->

<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- &lt;!&ndash; <div class="col-lg-4 clase1">-->
<!--    <app-contact>-->
<!--    </app-contact>-->
<!--  </div>&ndash;&gt;-->

<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p-image src="https://www.ias.edu/sites/default/files/styles/hero_extra_small/public/library/Math-NS%20Library_1.jpg?h=c74750f6&itok=gPgH3YXJ" alt="Image" width="250" height="190" [preview]="true"></p-image>
    </div>
    <div class="col-sm-4">
      <p-image src="https://i.guim.co.uk/img/media/b53e226d3c70e90ddc25b877be945176b0470cc0/0_187_5616_3370/master/5616.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=c77f3a62ff97312e0c9e8520ce23508a" alt="Image" width="250" height="190" [preview]="true"></p-image>
    </div>
    <div class="col-sm-4">
      <p-image src="https://www.hist.cam.ac.uk/sites/default/files/styles/feature_box/public/2020-06/faculty_of_history_library_online.jpg?h=595f3de3&itok=E_rRRJ4p" alt="Image" width="300" height="190" [preview]="true"></p-image>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
   <p> <q>Eu mi-am imaginat întotdeauna Paradisul sub forma unei biblioteci, alte persoane considera
      ca ar fi o gradina, altii si-l pot închipui ca un palat, eu l-am imaginat întotdeauna ca o biblioteca
     si aici ma aflam eu... </q> <b>Jorge Luis Borges</b></p>
  </div>
  <br>
  <br>
  <br>
  <div class="row center-block clas">
    <app-contact></app-contact>
  </div>
</div>

